.complited-task {
  width: 100%;
  box-shadow:
    5px 5px 13px 0px rgba(48, 54, 64, 0.9),
    -5px -5px 10px 0px rgba(64, 74, 86, 0.9),
    5px -5px 10px 0px rgba(48, 54, 64, 0.2),
    -5px 5px 10px 0px rgba(48, 54, 64, 0.2),
    -1px -1px 2px 0px rgba(48, 54, 64, 0.5) inset,
    1px 1px 2px 0px rgba(64, 74, 86, 0.3) inset;
  border-radius: 16px;
  padding: 19px 0;

  &__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    column-gap: 27px;
  }

  &__img {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }

  &__text {
    height: 100%;
    font-weight: 500;
    margin: 0;
    text-decoration: line-through;
  }

  &__button {
    width: 18px;
    height: 18px;
    text-align: center;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #94adcf;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 4px;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 620px) {
  .complited-task {
    padding: 12px 0;

    &__img {
      width: 12px;
      height: 12px;
    }

    &__container {
      width: 98%;
      column-gap: 9px;
    }
  }
}
