.register {
  width: 350px;
  height: 100%;
  margin: 0 auto;

  &__fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
  }
}

@media screen and (max-width: 500px) {
  .register {
    width: 85%;
  }
}
